iframe {
  width: 100%;
  height: calc(100% + 4rem);
  transform: translateY(-4rem);
  border: none;
  background: var(--md-sys-color-surface);
}

:host {
  display: block;
  width: 100%;
  pointer-events: none;
  overflow: hidden;

  &.loaded {
    iframe {
      animation: show .3s ease forwards;
    }
  }
}

@keyframes show {
  from {
    opacity: 0.01;
  }

  30% {
    opacity: 0.01;
  }

  to {
    opacity: 1;
  }
}
